<template>
    <div>
        <button @click="openModal">Добавить пользователя</button>

        <div class="modal" v-if="showModal">
            <div class="modal-content">
                <h2>Добавить пользователя</h2>
                <form @submit.prevent="addUser">
                    <label for="login">Логин:</label>
                    <input type="text" id="login" v-model="newUser.login" required>

                    <label for="fullName">ФИО:</label>
                    <input type="text" id="fullName" v-model="newUser.fullName" required>

                    <label for="phone">Телефон:</label>
                    <input type="text" id="phone" v-model="newUser.phone" required>

                    <button type="submit">Добавить</button>
                    <button @click="closeModal">Закрыть</button>
                </form>
            </div>
        </div>
        <table>
            <thead>
            <tr>
                <th>ИД</th>
                <th>Логин</th>
                <th>ФИО</th>
                <th>Телефон</th>
                <th>Список ролей</th>
                <th>Активность</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="user in users" :key="user.id">
                <td>{{ user.id }}</td>
                <td>{{ user.login }}</td>
                <td>{{ user.full_name }}</td>
                <td>{{ user.phone }}</td>
                <td>
                    <ul>
                        <li v-for="role in user.roles" :key="role.id">{{ role.name }}</li>
                    </ul>
                </td>
                <td>
            <span v-if="user.active">
              Активен
              <button @click="changeUserActivity(user)">Деактивировать</button>
            </span>
                    <span v-else>
              Неактивен
              <button @click="changeUserActivity(user)">Активировать</button>
            </span>
                </td>
                <td>
                    <button @click="deleteUser(user.id)">Удалить</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
import axios from 'axios';

export default {
    data() {
        return {
            users: [],
            showModal: false,
            newUser: {
                login: '',
                fullName: '',
                phone: '',
            },
        };
    },
    methods: {
        fetchUsers() {
            axios.get('/api/users').then((response) => {
                this.users = response.data;
            });
        },
        changeUserActivity(user) {
            if (confirm('вы уверены, что хотите изменить активность пользователя?')) {
                user.active = !user.active;
                axios.put(`/api/users/${user.id}`, { active: user.active }).then(() => {
                    alert('активность пользователя изменена успешно');
                });
            }
        },
        deleteUser(userId) {
            axios.delete(`/api/users/${userId}`).then((response) => {
                alert(response.data.message);
                this.fetchUsers();
            });
        },
        openModal() {
            this.showModal = true;
        },
        closeModal() {
            this.showModal = false;
        },
        addUser() {
            axios.post('/api/users', this.newUser).then(() => {
                alert('пользователь успешно добавлен');
                this.closeModal();
                this.fetchUsers();
            });
        },
    },
    mounted() {
        this.fetchUsers();
    },
};
</script>

<style>
table {
    width: 70%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ccc;
    padding: 8px;
}
th {
    background-color: #f0f0f0;
    font-weight: bold;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
td span {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
}
td span button {
    margin-left: 8px;
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: #1a202c;
    cursor: pointer;
}
td span button:hover {
    background-color: #23527c;
}
button {
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: #1a202c;
    cursor: pointer;
}
button:hover {
    background-color: #718096;
}
</style>
